{% extends '::frontend.html.twig' %}

{% block title %}Ajuda{% endblock %}

{% block id 'ajuda' %}

{% block article %}
  <section class="ajuda-box">
    <h1>Ajuda</h1>
    <p>Doncs això!</p>
  </section>

{% endblock %}
{% block aside %}

{% endblock %}
